body {
	background-color: #000000;
	color: #ffffff;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.0em;
	line-height: 1.5;
}

#gui {
	position: fixed;
	top: 0;
	right: 0;
	width: auto;
	z-index: 1001;
	text-align: left;
}
